nodered/.flows_nodered.json.backup
[{"id":"b25cb2e0.be596","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"895e0f9.7f1c2f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9d731e54.c07d6","type":"inject","z":"b25cb2e0.be596","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":60,"wires":[["b41cc9e3.b9fa88"]]},{"id":"b41cc9e3.b9fa88","type":"http request","z":"b25cb2e0.be596","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:3001/senior?id=1&pw=qo306g","tls":"","proxy":"","authType":"basic","x":370,"y":160,"wires":[["7a96b6e8.2acb38"]]},{"id":"4cb535f9.adc7bc","type":"json","z":"b25cb2e0.be596","name":"","property":"payload","action":"obj","pretty":false,"x":810,"y":160,"wires":[["b02cee38.7d6e"]]},{"id":"fef37db1.a967f","type":"function","z":"b25cb2e0.be596","name":"JSON Logger","func":"node.log(\"Status is | \" + JSON.stringify(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":560,"wires":[["2d6eddf3.1af462"]]},{"id":"213ae94e.e12716","type":"tcp in","z":"895e0f9.7f1c2f","name":"telnet","server":"client","host":"","port":"7171","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"Test","base64":false,"x":130,"y":124,"wires":[["68ca2d9f.851674"]]},{"id":"8076f51.2329a08","type":"tcp out","z":"895e0f9.7f1c2f","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":1450,"y":200,"wires":[]},{"id":"5726ee86.49cc3","type":"function","z":"b25cb2e0.be596","name":"Filter","func":"var processed = global.get('processed');\n\nif (processed === undefined) {\n    processed = \"{}\";\n}\n\nvar salt = global.get(\"salt\");\nprocessed = JSON.parse(processed);\nvar res = [];\n\nfor (var x of msg.payload) {\n    if (salt + x.jobID in processed) {\n        if (processed[salt + x.jobID] == true) {\n            node.log(\"Discarding processed \" + salt + x.jobID);\n        }\n        else {\n            node.log(\"Accepting non processed \" + salt + msg.payload.jobID);\n            res.push(x);\n        }\n    }\n    else {\n        node.log(\"Accepting non processed\" + salt + msg.payload.jobID);\n        res.push(x);\n    }\n}\nif (res.length == 0) {\n    node.log(\"No job remaining\");\n    return null;\n}\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["fc14ce31.79c8d"]]},{"id":"68ca2d9f.851674","type":"switch","z":"895e0f9.7f1c2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Enter password:","vt":"str"},{"t":"cont","v":"Welcome to the server.","vt":"str"},{"t":"cont","v":"Status:","vt":"str"},{"t":"cont","v":"QueueShow:","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":450,"y":120,"wires":[["c55da1f1.dba75"],["4f339da4.279304"],["822c55cc.9949c8"],["1daa1004.ec86c"]]},{"id":"c55da1f1.dba75","type":"function","z":"895e0f9.7f1c2f","name":"login","func":"\nreturn {payload: \"adept\\n\"};","outputs":1,"noerr":0,"x":670,"y":64,"wires":[["8076f51.2329a08"]]},{"id":"b02cee38.7d6e","type":"sort","z":"b25cb2e0.be596","name":"","order":"ascending","as_num":true,"target":"payload.jobs","targetType":"msg","msgKey":"priority","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":950,"y":160,"wires":[["9b6ec0bd.10412"]]},{"id":"9b6ec0bd.10412","type":"function","z":"b25cb2e0.be596","name":"Parse jobs","func":"msg.payload = msg.payload.jobs;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":160,"wires":[["5726ee86.49cc3"]]},{"id":"fc14ce31.79c8d","type":"function","z":"b25cb2e0.be596","name":"First element","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":440,"wires":[["5de8cef5.b0d92","36698356.1ec50c"]]},{"id":"5de8cef5.b0d92","type":"switch","z":"b25cb2e0.be596","name":"If is not current","property":"payload.jobID","propertyType":"msg","rules":[{"t":"neq","v":"currentTask","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":440,"wires":[["af0de0d0.8bc5a","43b55d23.675b44"],["ade8b6b9.ad05f8"]]},{"id":"af0de0d0.8bc5a","type":"function","z":"b25cb2e0.be596","name":"Set new current","func":"var current = global.get(\"currentTask\");\nif (current === undefined) {\n    current = null;\n}\nglobal.set(\"previousTask\", current);\nglobal.set(\"currentTask\", msg.payload.jobID);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":440,"wires":[["f4828592.484538"]]},{"id":"f4828592.484538","type":"function","z":"b25cb2e0.be596","name":"Prepare for robot","func":"var task = msg.payload;\nvar taskType = \"Dropoff\";\nvar taskTypeSay = \"scaricare\";\nif (task.jobType == \"pickup\") {\n    taskType = \"Pickup\";\n    taskTypeSay = \"prendere\";\n}\nvar seed = global.get(\"salt\");\nvar prevTask = seed + global.get(\"previousTask\");\nvar cancelTaskCmd = \"queueCancel \" + prevTask + \"\\n\";\nif (prevTask == null) {\n    cancelTaskCmd = \"\";\n}\nmsg.payload = cancelTaskCmd + \"queue\" + taskType + \" \" + task.goalId + \" default \" + seed + task.jobID;\nmsg.payload += \"\\nsay Nuovo job vado a \" + taskTypeSay + \" \" + task.goalId + \"\\n\";\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":440,"wires":[["3191426d.0807ce","74d7cc33.6a9b94"]]},{"id":"3191426d.0807ce","type":"function","z":"b25cb2e0.be596","name":"Logger","func":"node.log(\"Sending | \" + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":500,"wires":[[]]},{"id":"4f339da4.279304","type":"function","z":"895e0f9.7f1c2f","name":"saveSession","func":"global.set('session', msg._session);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":124,"wires":[[]]},{"id":"4ec3bd8e.61f9f4","type":"function","z":"895e0f9.7f1c2f","name":"reloadSession","func":"msg._session = global.get('session')\nnode.log('Message ' + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":264,"wires":[["8076f51.2329a08"]]},{"id":"e3884109.8f55","type":"inject","z":"895e0f9.7f1c2f","name":"Stats polling","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":324,"wires":[["de17c22b.cbef1","ec6d9891.b88428"]]},{"id":"de17c22b.cbef1","type":"function","z":"895e0f9.7f1c2f","name":"queryStatus","func":"msg.payload = 'onelineStatus\\n';\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["4ec3bd8e.61f9f4"]]},{"id":"d27cd149.79de3","type":"function","z":"b25cb2e0.be596","name":"JSON Logger","func":"node.log(\"JSON is | \" + JSON.stringify(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[[]]},{"id":"822c55cc.9949c8","type":"function","z":"895e0f9.7f1c2f","name":"processStats","func":"var genericMatch = ': (.+?)(?:(?: ([^\\\\s]+):)|\\\\n|$)';\nvar locationMatch = 'Location: ([^\\\\s]+) ([^\\\\s]+) ([^\\\\s]+)';\nvar statNames = [\"Status\", \"StateOfCharge\"];//, \"Temperature\"];\n\nvar statsDict = {};\n\nstatNames.forEach(stat => {\n  var lcc = stat.charAt(0).toLowerCase() + stat.slice(1);\n  node.log(stat + genericMatch);\n  var match = RegExp(stat + genericMatch).exec(msg.payload);\n  if (match !== null) {\n    console.log(match);\n    statsDict[lcc] = match[1];\n  }\n  else {\n      node.log(\"Cannot read \" + msg.payload);\n  }\n});\n\n// Location\nvar match = RegExp(locationMatch).exec(msg.payload);\nif (match !== null) {\n  statsDict['locationx'] = match[1];\n  statsDict['locationy'] = match[2];//, match[3]];\n}\n\nmatch = RegExp(/Temperature: ([^\\s]+)/).exec(msg.payload);\nif (match !== null) {\n  statsDict['temperature'] = match[1];\n}\n\nreturn {payload: JSON.stringify(statsDict)};\n","outputs":1,"noerr":0,"x":550,"y":224,"wires":[["ea533598.444378","e3bbeb61.a177f8"]]},{"id":"12982367.0f1d7d","type":"function","z":"895e0f9.7f1c2f","name":"statsLogger","func":"node.log(\"Stats: \" + msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":400,"wires":[[]]},{"id":"39b5b517.48802a","type":"function","z":"895e0f9.7f1c2f","name":"prepareTestCommand","func":"msg.payload = \"queuePickup Z\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":164,"wires":[[]]},{"id":"1139d062.da61c","type":"link in","z":"895e0f9.7f1c2f","name":"sendCommand","links":["74d7cc33.6a9b94"],"x":160,"y":440,"wires":[["4ec3bd8e.61f9f4"]]},{"id":"74d7cc33.6a9b94","type":"link out","z":"b25cb2e0.be596","name":"","links":["1139d062.da61c"],"x":1075,"y":400,"wires":[]},{"id":"1daa1004.ec86c","type":"function","z":"895e0f9.7f1c2f","name":"processQueue","func":"var statusMatch = /QueueShow: ([^\\s]+) ([^\\s]+) ([^\\s]+) ([^\\s]+) ([^\\s]+) Goal \"([^\\s]+)\".*/\n\nvar match = statusMatch.exec(msg.payload);//'QueueShow: PICKUP1 JOB1 1 Completed None Goal \"a\" \"FIDO\" 05/29/2019 18:45:47 05/29/2019 18:46:00 \"\" 0');\n\nvar strValue = global.get('processed') || '{}';\nvar processed = JSON.parse(strValue);\n\nmsg.justCompleted = false;\n\nif (match) {\n    // node.log(match + \" \" + match[2] + ' m4  ' + match[4]);\n    var jobId = match[2];\n    var completed = match[4] == 'Completed';\n\n    // if (completed) {\n    if (processed[jobId] == false && completed) {\n        msg.jobId = jobId;\n        msg.justCompleted = true;\n        processed[jobId] = true;\n        node.log(\"COMPLETED \" + msg.jobId);\n    }\n    else {\n        processed[jobId] = false;\n    }\n    // }\n}\nelse {\n    node.log(\"Error!: \" + msg.payload);\n}\n\n// node.log(JSON.stringify(msg.justCompleted));\n\nglobal.set('processed', JSON.stringify(processed));\n\nmsg.payload = global.get('processed');\n\n// msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":184,"wires":[["41711cff.0f7174"]]},{"id":"ec6d9891.b88428","type":"function","z":"895e0f9.7f1c2f","name":"queryQueue","func":"msg.payload = \"QueueShow\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":344,"wires":[["4ec3bd8e.61f9f4"]]},{"id":"1e2b806f.c31c2","type":"function","z":"895e0f9.7f1c2f","name":"queueLogger","func":"node.log(\"Queue: \" + msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":520,"wires":[[]]},{"id":"910d08e6.6607c8","type":"function","z":"895e0f9.7f1c2f","name":"sendLog","func":"node.log(\"Log: \" + JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":400,"wires":[[]]},{"id":"ece1c65a.e04508","type":"link in","z":"b25cb2e0.be596","name":"","links":["ea533598.444378"],"x":235,"y":560,"wires":[["fef37db1.a967f"]]},{"id":"f55a7ffd.635ca","type":"inject","z":"b25cb2e0.be596","name":"","topic":"","payload":"{\"Ciao\": 1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":720,"wires":[["2d6eddf3.1af462"]]},{"id":"829539e.9e055c8","type":"azureiothub","z":"b25cb2e0.be596","name":"Azure IoT Hub","protocol":"amqp","x":1320,"y":560,"wires":[[]]},{"id":"2d6eddf3.1af462","type":"function","z":"b25cb2e0.be596","name":"Prepare for Azure","func":"\nvar jData = JSON.parse(msg.payload);\nif (\"status\" in jData) {\n    jData[\"statusExt\"] = jData[\"status\"];\n}\nvar res = {\n  \"deviceId\": \"6aca248d-52e9-482e-881b-e8613ca9beb1\",\n  \"key\": \"NH2OAEaYI1lhxVdaVfUpU7N+UuvNZniV+0Or7Qw9qt4=\",\n  \"protocol\": \"mqtt\",\n  \"data\": jData\n};\nmsg.payload = res;\nnode.log(\"Logging \" + JSON.stringify(res));\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":640,"wires":[["f315a931.49d768"]]},{"id":"f315a931.49d768","type":"azureiothub","z":"b25cb2e0.be596","name":"Azure IoT Hub","protocol":"mqtt","x":940,"y":700,"wires":[["478d4587.d26fdc"]]},{"id":"ea533598.444378","type":"link out","z":"895e0f9.7f1c2f","name":"statsEmitter","links":["ece1c65a.e04508"],"x":1255,"y":340,"wires":[]},{"id":"478d4587.d26fdc","type":"function","z":"b25cb2e0.be596","name":"Logger","func":"node.log(\"Response | \" + msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":700,"wires":[[]]},{"id":"c5a85107.38ab1","type":"inject","z":"895e0f9.7f1c2f","name":"manualClearQueue","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":540,"wires":[[]]},{"id":"bffd2433.9035c8","type":"function","z":"895e0f9.7f1c2f","name":"","func":"var processed = JSON.parse(global.get('processed') || '{}');\n\n// for\n\nmsg = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":540,"wires":[[]]},{"id":"97992dcc.2eb04","type":"function","z":"895e0f9.7f1c2f","name":"undock","func":"msg.payload = 'undock';\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":380,"wires":[["4ec3bd8e.61f9f4"]]},{"id":"e3bbeb61.a177f8","type":"switch","z":"895e0f9.7f1c2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"DockingState: Docked","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":380,"wires":[["97992dcc.2eb04"]]},{"id":"7a96b6e8.2acb38","type":"function","z":"b25cb2e0.be596","name":"Generate salt","func":"if (global.get(\"salt\") === undefined) {\n    let r = Math.random().toString(36).substring(7);\n    global.set(\"salt\", r);\n}\nnode.log(\"Salt is \" + global.get(\"salt\"));\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["4cb535f9.adc7bc"]]},{"id":"41711cff.0f7174","type":"switch","z":"895e0f9.7f1c2f","name":"","property":"justCompleted","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":540,"wires":[["8d18529b.46f13"]]},{"id":"8d18529b.46f13","type":"function","z":"895e0f9.7f1c2f","name":"sayCompleted","func":"node.log('TALKING!!! ' + msg.jobId);\n// msg.payload = \"say Completato \" + msg.jobId + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":540,"wires":[["4ec3bd8e.61f9f4"]]},{"id":"ade8b6b9.ad05f8","type":"function","z":"b25cb2e0.be596","name":"Logger","func":"node.log(\"Already current | \" + msg.payload.jobID);\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":480,"wires":[[]]},{"id":"43b55d23.675b44","type":"function","z":"b25cb2e0.be596","name":"Logger","func":"node.log(\"NOT current | \" + msg.payload.jobID);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":380,"wires":[[]]},{"id":"36698356.1ec50c","type":"function","z":"b25cb2e0.be596","name":"Logger","func":"node.log(\"current first elem is | \" + msg.payload.jobID);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":500,"wires":[[]]}]